// @import "../css/font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.min.css";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

body {
    font-size: 15px;
    background-color: #317eba !important;
}

.wrapper {
    min-width: 100vw;
    // height: 100vh;
}

input, button, select {
    font-size: 15px;
    &:focus {
        outline: none;
    }
}



.flex {
    display: flex;
}

.flex-align-center {
    @extend .flex;
    align-items: center;
}

.flex-justify-center {
    @extend .flex;
    justify-content: center;
}

.flex-center {
    @extend .flex-align-center;
    @extend .flex-justify-center;
}

.flex-between {
    @extend .flex-align-center;
    justify-content: space-between;
}

.title {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
}

.btn-primary {
    width: 218px;
    height: 56px;
    border: 0;
    background: #DCE23E;
    font-size: 22px;
    color: #000;
    letter-spacing: 2px;
    border-radius: 30px;
}

.btn-default {
    min-width: 150px;
    padding-left: 3px;
    padding-right: 3px;
    height: 45px;
    border-radius: 30px;
    background: #0E6AA1;
    border: 3px solid #1BA4FC;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0px;

}

.btn-transparent {
    background: transparent;
    border: 1px solid transparent;
}

.container-custom {
    width: 100vw;
    max-width: 375px;
    margin: 0 auto;
}

.deep-yellow {
    color: #EED12F;
}

.blue {
    color: #38E0FF;
}

.green {
    color: #2FD252;
}

.red {
    color: #F66E36;
}

.mt-0 {
    margin-top: 0 !important;
}

.mt--25 {
    margin-top: -25px;
}



.header {
    width: 100%;
    margin-bottom: 25px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    &.header--game, &.header-primary {
        background: #317eba;
    }
    &__center {
        padding: 10px;
    }
    &__btn {
        padding: 10px;
        color: #fff;
        font-size: 24px;
    }
    &__title {
        color: #fff;
    }
    &__right {
        .btn-transparent.header__btn {
            opacity: 0;
        }
    }
}

.main {
    // width: 100vw;
    // max-height: 100vh;
    // overflow-y: auto;
    // position: fixed;
    // top: 0;
    // left: 0;
    // z-index: 10;
    &.main--game {
        position: relative;
        z-index: 10;
        pointer-events: none;
        button {
            pointer-events: visible;
        }
    }
}

.logo {
    position: relative;
    z-index: 1;
    overflow: hidden;

    &.logo--two-up {
        .logo__container {
            overflow: hidden;
        }
        .logo__img {
            margin-left: -60px;
            max-width: 235px;
            img {
                width: 100%;
                margin: 0;
            }
        }
        &.logo--game {
            .logo__img {
                margin-left: -40px;
                max-width: 55vw;
            }
        }
        &.logo--selfie {
            padding-top: 45px;
            .logo__heading {
                position: static;
                transform: none;
            }
        }
    }
    &__heading {
        max-width: 155px;
        font-size: 26px;
        line-height: calc(28/25);
        font-weight: 400;
        color: #fff;
        position: absolute;
        right: 25px;
        top: calc(50% + 25px);
        transform: translateY(-50%);
        &.logo__heading--center {
            max-width: 100vw;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 10px;
        }
    }
    &__sub-heading {
        margin-top: 50px;
        padding-right: 15px;
        font-size: 45px;
        line-height: calc(24/45);
        font-weight: 400;
        color: #fff;
    }
    &__img {
        margin: -40px auto 0;
        max-width: calc(100vw - 40px);
        position: relative;
        img {
           width: calc(100% + 60px);
           margin-left: -30px;
           height: 100%;
           object-fit: cover;
           &.smallest-cookie {
                width: 40px;
                height: 36px;
                object-fit: contain;
                left: calc(50% - 40px);
                bottom: 25px;
            }
        }
    }
    &__container {
        position: relative;
    }
}

.logo__absolute {
    position: absolute;
}

.mr-5 {
    margin-right: 5px;
}

.mb-10 {
    display: block;
    margin-bottom: 10px;
}

.mb-90 {
    margin-bottom: 90px;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.img-group {
    &__picture {
        max-width: 185px;
        margin: 0 auto;
        img {
            object-fit: contain;
        }
    }
    &__container {
        margin-top: -20px;
        overflow: hidden;
    }
    &__smallest {
        height: 60px;
    }
    &__smaller {
        margin-top: -25px;
        height: 85px;
    }
    &__small {
        margin-top: -35px;
        height: 130px;
    }
    &__big {
        margin-top: -180px;
        margin-left: calc(100% - 90px);
    }
}

.mb-35 {
    margin-bottom: 35px;
}

.mb-25 {
    margin-bottom: 25px;
}

.try-again {
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.play-again-icon {
    transform: rotate(90deg);
    display: block;
    font-size: 25px;
}

.btn-group {
    padding-bottom: 10px;
    position: relative;
    z-index: 2;
    button {
        display: block;
        margin: 0 auto;
        &.btn-primary {
            margin-bottom: 30px;
        }
        img {
            max-height: 30vh;
        }
    }
}

.center-text {  
    text-align: center;
}

.list-number {
    margin-bottom: 10px;
    &.list--two-up {
        margin-top: 10px;
        .list-number__item {
            display: flex;
        }
        .list-content {
            margin-top: 0px;
            text-align: center;
        }
    }
    &.list-number--rules {
        .list-number__list {
            padding: 0 10px;
            color: #fff;
            font-family: Arial, Helvetica, sans-serif;
            word-break: break-word;
        }
    }
    .list-order {
        margin-right: 5px;
        font-size: 14px;
        line-height: calc(20/14);
    }
    .list-content {
        color: #fff;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 0px;
        line-height: calc(20/14);
    }
    &__item {
        padding: 4px 8px;
    }
    &__group-img {
        max-height: 25vh;
        padding-right: 5px;
    }
}

.bg-dark-custom {
    max-width: 315px;
    margin: 0 auto;
    padding: 15px 10px;
    border-radius: 31px;
    background: #1e588c;
    text-align: center;
    text-transform: uppercase;
}

.block-countdown {
    min-width: 58px;
    height: 37px;
    margin-right: -10px;
    color: #111;
    font-size: 22px;
    padding: 13px 15px;
    background: #4fabfa;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.face-block {
    margin-top: -95px;
    margin-bottom: 20px;
    &.face-block--selfie {
        margin-bottom: 0;
        background: #0E6AA1;
    }
    &__container {
        position: relative;
    }
    &__frame {
        background-image: url(../img/photoframe.png);
        position: absolute;
        width: 100%;
        height: 100%;
        -o-object-fit: contain;
        object-fit: contain;
        top: 0px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .block-center {
        width: 180px;
        height: 180px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
        &__inner {
            width: 100%;
            height: 100%;
            position: relative;
            background: rgba(#0D1B30, 0.36);
            overflow: hidden;
            border: 8px solid #4FABFA;
            border-radius: 50%;
            
        }
    }
    &__img {
        height: 100vw;
        overflow: hidden;
        video, canvas {
            width: 100%;
            height: 100vw;
            object-fit: cover;
        }
        img {
            width: 100%;
            height: auto;
            // object-fit: contain;
        }
    }
}


.absolute-img {
    width: 178px;
    height: auto;
    min-height: 120px;
    position: absolute;
    bottom: -75px;
    left: 80px;
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.small-p {
    font-size: 12px;
}

.p {
    font-size: 14px;
    font-weight: 400;
    line-height: calc(20/14);
}

.bold {
    font-weight: 700;
    text-transform: uppercase;
}

.large-p {
    font-size: 16px;
}

.white-text {
    color: #fff;
}

.footer {
    &__container {
        padding: 30px 5px;
        position: relative;
        background: #0E6AA1;
    }
    &__des {
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        line-height: calc(24/20);
        color: #fff;
        .blue {
            color: #4FABFA;
        }
    }
}

.pb-25 {
    padding-bottom: 25px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.camera-block {
    padding: 90px 20px 40px;
    margin: -95px auto 0px;
    background: #0E6AA1;
    text-align: center;
}

.sub-title {
    font-size: 28px;
    font-weight: 400;
    line-height: calc(28/20);
}

.btn-square {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background: #DCE23E;
    border: none;
    i {
        font-size: 34px;
    }
}

.content-block {
    &__container {
        img {
            max-width: 40vh;
        }
    }
}

.loader-block {
    @extend .flex-center;
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(#0D1B30, 0.36);
    top: 0;
    left: 0;
    z-index: 9;
    .loader {
        border: 6px solid #f3f3f3;
        border-radius: 50%;
        border-top: 6px solid #3498db;
        width: 40px;
        height: 40px;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
      }
      
      /* Safari */
      @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
      }
      
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
}
.face-block__top {
    position: absolute;
    width: 100%;
    padding: 10px 20px;
    left: 0;
    top: 0;
}

.deep-blue {
    color: #4FABFA;
}

.font-large-title {
    font-size: 28px;
    line-height: calc(28/30);
}

.font-large-des {
    font-size: 24px;
    line-height: calc(20/24);
}

.face-block__bottom {
    width: 100%;
    padding: 0px 5px 30px;
    margin-top: -10px;
    color: #fff;
    text-align: center;
    i {
        margin-right: 5px;
        font-size: 18px;
    }
    span {
        font-weight: 400;
        display: block;
        font-size: 12px;
    }
}

.large {
    font-size: 23px;
    font-weight: 400;
    white-space: nowrap;
}

.topping {
    position: absolute;
    width: 60px;
}

.topping-blue {
    bottom: 20px;
    right: 40px;
}

.topping-green {
    left: 10px;
    bottom: 20px;
}

.topping-orange {
    left: 20px;
    top: 5px;
}

.topping-red {
    top: 10px;
    right: 10px;
}

.full-absolute {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.group-candy {
    width: 100vw;
    position: absolute;
    top: -26px;
    left: 0;
    .circle-candy {
        width: 45px;
        height: 45px;
        margin: 0 3px;
        border: 3px solid #4FABFA;
        border-radius: 50%;
        background: rgba($color: #0E6AA1, $alpha: 0.53);
        img {
            width: 22px;
        }
    }
}

//clock-time
.clock-block {
    position: relative;
    img {
        width: 60px;
    }
}
.wrapper-clock {
    position: absolute;
    background: #fff;
    width: 33px;
    height: 33px;
    left: 13.5px;
    top: 14.5px;
    border-radius: 50%;
    border: 3px solid #fff;
  }
  
  .wrapper-clock , .wrapper-clock  * {
    box-sizing: border-box;
  }
  
  .wrapper-clock  .pie {
    width: 50%;
    height: 100%;
    transform-origin: 100% 50%;
    position: absolute;
    background: #122641;
    border: 0px solid rgba(0,0,0,0.5);
  }
  
  .wrapper-clock  .spinner {
    border-radius: 100% 0 0 100% / 50% 0 0 50%;
    z-index: 200;
    border-right: none;
    
  }
  
  .wrapper-clock:hover .spinner,
  .wrapper-clock:hover .filler,
  .wrapper-clock:hover .mask {
    animation-play-state: running;
  }
  
  .wrapper-clock .filler {
    border-radius: 0 100% 100% 0 / 0 50% 50% 0;
    // border-radius: 100% 0 0 100% / 50% 0 0 50%;
    left: calc(50% + 1px);
    opacity: 0;
    z-index: 100;
    border-left: none;
  }

  .wrapper-clock-custom {
    .filler {
        animation: opa 32s steps(1, end) forwards reverse;
    }
    .spinner {
        animation: rota 32s linear forwards;
    }
    .mask {
        animation: opa 32s steps(1, end) forwards;
    }
  }
  
  .wrapper-clock .mask {
    width: 50%;
    height: 100%;
    position: absolute;
    background: inherit;
    opacity: 1;
    z-index: 300;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    
  }
  
  @keyframes rota {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes opa {
    0% {
      opacity: 1;
    }
    50%, 100% {
      opacity: 0;
    }
  }


  
  .camera-block {
      h3.deep-yellow.sub-title {
          font-size: 24px;
      }
  }