@import url(../css/font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.min.css);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

ul, li {
  list-style: none; }

body {
  font-size: 15px;
  font-family: 'Roboto', sans-serif; }

.wrapper {
  min-width: 100vw;
  min-height: 100vh;
  background-image: url("../img/bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

input, button, select {
  font-size: 15px; }
  input:focus, button:focus, select:focus {
    outline: none; }

.flex, .flex-align-center, .flex-center, .flex-between, .flex-justify-center {
  display: -webkit-box;
  display: flex; }

.flex-align-center, .flex-center, .flex-between {
  -webkit-box-align: center;
          align-items: center; }

.flex-justify-center, .flex-center {
  -webkit-box-pack: center;
          justify-content: center; }

.flex-between {
  -webkit-box-pack: justify;
          justify-content: space-between; }

.title {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5; }

.btn-primary {
  width: 218px;
  height: 56px;
  border: 0;
  background: #DCE23E;
  font-size: 22px;
  color: #000;
  letter-spacing: 2px;
  border-radius: 30px; }

.btn-default {
  min-width: 162px;
  height: 50px;
  border-radius: 30px;
  background: #0E6AA1;
  border: 3px solid #1BA4FC;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0px; }

.btn-transparent {
  background: transparent;
  border: 1px solid transparent; }

.container-custom {
  width: 100vw;
  max-width: 375px;
  margin: 0 auto; }

.deep-yellow {
  color: #EED12F; }

.blue {
  color: #38E0FF; }

.green {
  color: #2FD252; }

.red {
  color: #F66E36; }

.mt-0 {
  margin-top: 0 !important; }

.mt--25 {
  margin-top: -25px; }

.header {
  width: 100%;
  margin-bottom: 25px;
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
  z-index: 9; }
  .header__center {
    padding: 10px; }
  .header__btn {
    padding: 10px;
    color: #fff;
    font-size: 24px; }
  .header__title {
    color: #fff; }

.logo {
  position: relative;
  z-index: 1;
  overflow: hidden; }
  .logo.logo--two-up .logo__container {
    overflow: hidden; }
  .logo.logo--two-up .logo__img {
    margin-left: -60px;
    max-width: 294px; }
  .logo.logo--two-up.logo--game .logo__img {
    margin-left: -40px;
    max-width: 65vw; }
  .logo__heading {
    max-width: 155px;
    margin-left: -60px;
    margin-top: 70px;
    font-size: 30px;
    line-height: calc(28/30);
    font-weight: 400;
    color: #fff; }
    .logo__heading.logo__heading--center {
      max-width: 100vw;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px; }
  .logo__sub-heading {
    margin-top: 50px;
    padding-right: 15px;
    font-size: 45px;
    line-height: calc(24/45);
    font-weight: 400;
    color: #fff; }
  .logo__img {
    margin-top: -30px;
    max-width: 100vw;
    position: relative; }
    .logo__img img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
      .logo__img img.smallest-cookie {
        width: 40px;
        height: 36px;
        -o-object-fit: contain;
           object-fit: contain;
        left: calc(50% - 70px);
        bottom: 25px; }

.logo__absolute {
  position: absolute; }

.mr-5 {
  margin-right: 5px; }

.mb-10 {
  margin-bottom: 10px; }

.mb-0 {
  margin-bottom: 0 !important; }

.img-group__picture {
  max-width: 185px;
  margin: 0 auto; }
  .img-group__picture img {
    -o-object-fit: contain;
       object-fit: contain; }

.img-group__container {
  margin-top: -20px;
  overflow: hidden; }

.img-group__smallest {
  height: 60px; }

.img-group__smaller {
  margin-top: -25px;
  height: 85px; }

.img-group__small {
  margin-top: -35px;
  height: 130px; }

.img-group__big {
  margin-top: -180px;
  margin-left: calc(100% - 90px); }

.mb-35 {
  margin-bottom: 35px; }

.mb-25 {
  margin-bottom: 25px; }

.btn-group {
  position: relative;
  z-index: 2; }
  .btn-group button {
    display: block;
    margin: 0 auto 10px; }
    .btn-group button.btn-primary {
      margin-bottom: 30px; }

.center-text {
  text-align: center; }

.list-number {
  margin-bottom: 40px; }
  .list-number.list--two-up .list-number__item {
    display: -webkit-box;
    display: flex; }
  .list-number.list--two-up .list-content {
    max-width: 175px;
    margin-top: 7px;
    text-align: center; }
  .list-number .list-order {
    margin-right: 5px;
    font-size: 14px;
    line-height: calc(20/14); }
  .list-number .list-content {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0px;
    line-height: calc(20/14); }
  .list-number__item {
    padding: 8px 25px; }
  .list-number__group-img {
    max-height: 260px;
    padding-right: 5px; }

.bg-dark-custom {
  max-width: 315px;
  margin: 0 auto;
  padding: 15px 10px 35px;
  border-radius: 31px;
  background: #1BA3FC;
  text-align: center;
  text-transform: uppercase; }

.face-block {
  margin-top: -40px;
  margin-bottom: 20px; }
  .face-block__container {
    position: relative; }
  .face-block .block-center {
    width: 194px;
    height: 194px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    overflow: hidden; }
    .face-block .block-center__inner {
      width: 100%;
      height: 100%;
      position: relative;
      background: rgba(13, 27, 48, 0.36);
      overflow: hidden;
      border: 8px solid #4FABFA;
      border-radius: 50%; }
  .face-block__img {
    height: 100vw;
    border-radius: 12px;
    overflow: hidden; }
    .face-block__img img, .face-block__img video {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }

.absolute-img {
  width: 178px;
  height: auto;
  min-height: 120px;
  position: absolute;
  bottom: -75px;
  left: 80px; }

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.small-p {
  font-size: 12px; }

.p {
  font-size: 14px;
  font-weight: 400;
  line-height: calc(20/14); }

.large-p {
  font-size: 16px; }

.white-text {
  color: #fff; }

.footer__container {
  padding: 45px 20px;
  position: relative;
  background: #0E6AA1; }

.footer__des {
  max-width: 286px;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: calc(24/20);
  color: #fff; }
  .footer__des .blue {
    color: #4FABFA; }

.pb-25 {
  padding-bottom: 25px; }

.camera-block {
  padding: 90px 20px 45px;
  margin: -80px auto 0px;
  background: #0E6AA1;
  text-align: center; }

.sub-title {
  font-size: 28px;
  font-weight: 400;
  line-height: calc(28/20); }

.btn-square {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: #DCE23E;
  border: none; }
  .btn-square i {
    font-size: 34px; }

.face-block__top {
  position: absolute;
  width: 100%;
  padding: 10px 30px;
  left: 0;
  top: 0; }

.face-block__bottom {
  position: absolute;
  width: 100%;
  padding: 10px 20px 10px 0;
  left: 0;
  bottom: 0; }

.large {
  font-size: 25px;
  font-weight: 400;
  white-space: nowrap; }
  .large span {
    font-size: 18px; }

.topping {
  position: absolute;
  width: 60px; }

.topping-blue {
  bottom: 20px;
  right: 40px; }

.topping-green {
  left: 10px;
  bottom: 20px; }

.topping-orange {
  left: 20px;
  top: 5px; }

.topping-red {
  top: 10px;
  right: 10px; }

.full-absolute {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3; }

.group-candy {
  width: 100vw;
  position: absolute;
  top: -26px;
  left: 0; }
  .group-candy .circle-candy {
    width: 54px;
    height: 54px;
    margin: 0 3px;
    border: 3px solid #4FABFA;
    border-radius: 50%;
    background: rgba(14, 106, 161, 0.53); }
    .group-candy .circle-candy img {
      width: 26px; }
